:root{
    --branding-color:#6C63FF;
    --headind-font-family:"Playfair Display",serif;
    --default-font-family:"Poppins",sans-serif;
    --secondary-color: #F9F7FE;
}
body{
    font-family: var(--default-font-family);
}

h1{
    color:black;
    font-family:var(--headind-font-family);
    font-weight: 700;
    font-size: 96px;
    line-height: 127.97px;
}
.hero{
    text-align: center;
    background-color:var(--secondary-color);
    padding:160px 0px;

}
.hero p{

font-family:var(--default-font-family);
font-size: 36px;
line-height: 54px;
font-weight: 700;
color: #272142;

}
.hero h2{
    font-family:var(--default-font-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;

}
.content-container{
  padding:160px 20px;
  text-align: center;
}
.content-container h1{
  font-size: 64px;
  line-height: 1.5;
}
.content-container h2{
  font-size:18px ;
  font-family: var(--default-font-family);

}
.content h3{
  font-size: 18px;
  line-height: 1.5;
  
  font-family: var(--default-font-family);
}
.content p{
  font-size: 14px;

}
.content{
  margin: 30px;
}
.about-section img{
  border-radius: 10px;
}
.btn-branding{
font-family:var(--default-font-family);
font-size: 18px;
font-weight: 500;
line-height: 27px;
color: white;
background:var(--branding-color);
padding: 18px 30px;
border-radius: 4px;


}
p{
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;

}
h2{
    font-family:var(--headind-font-family) ;
    font-weight: 700;
    font-size: 64px;
    line-height: 85.31px;
}
.btn-branding-outline{
  color: var(--branding-color);
  border-radius: 4px; 
  border: 1px solid var(--branding-color);
  font-size: 18px; 
  line-height: 27px;
  padding: 18px 30px;
}
.project-description{
    padding:120px 60px;
}
@media (max-width:900px) {
  .project-description{
    padding:0;
    text-align: center;
  }
  h1{
font-size: 44px;
  } 
  h2{
    font-size: 44px;
    line-height: 1.5;
    
  } 
  .hero{
    padding:80px 20px;
  }

}
.logo{
  max-width: 150px;
}

nav{
  padding: 20px 0;
}
nav ul{
  padding: 0;
  margin: 0;
}
nav li{
  display: inline;
  list-style: none;
  line-height:42px;
  margin-left: 15px;
}
nav a{
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}
nav li.active a,
nav a:hover{
  color: var(--branding-color);
}